apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .config.serviceOrchestrationRuleConfigmap }}
  namespace: pagerduty-operator
  labels:
    api.openshift.com/managed: "true"
  annotations:
    package-operator.run/phase: integrations
    package-operator.run/collision-protection: IfNoController
data:
  service-orchestration.json: {{ .config.serviceOrchestrationRules | quote }}
  rh-infra-service-orchestration.json: {{ .config.rhInfraServiceOrchestrationRules | quote }}
