apiVersion: v1
kind: Template
metadata:
  name: osd-serviceorchestration-template
parameters:
- name: SERVICE_ORCHESTRATION_RULES
  required: true
- name: SERVICE_ORCHESTRATION_RULE_CONFIGMAP
  required: true
objects:
- apiVersion: v1
  data:
    service-orchestration.json: ${SERVICE_ORCHESTRATION_RULES}
    rh-infra-service-orchestration.json: ${RH_INFRA_SERVICE_ORCHESTRATION_RULES}
  kind: ConfigMap
  metadata:
    name: ${SERVICE_ORCHESTRATION_RULE_CONFIGMAP}
    namespace: pagerduty-operator
    labels:
      api.openshift.com/managed: "true"
