apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  name: pagerduty-operator-0.0.1
  namespace: placeholder
  annotations:
    categories: A list of comma separated categories that your operator falls under.
    certified: "false"
    description: Pagerduty Operator. 
    containerImage: quay.io/app-sre/pagerduty-operator:latest
    createdAt: "2019-04-10T17:34:33Z"
    support: Wesley Hearn
spec:
  displayName: pagerduty-operator
  description: Pagerduty Operator.
  keywords:
  - kubernetes
  - openshift
  - multi-cluster
  - cluster
  version: 0.0.1
  provider:
    name: Red Hat, Inc
  maturity: alpha
  installModes:
  - type: OwnNamespace
    supported: true
  - type: SingleNamespace
    supported: true
  - type: MultiNamespace
    supported: false
  - type: AllNamespaces
    supported: false
  install:
    strategy: deployment
    spec:
      clusterPermissions:
      - serviceAccountName: pagerduty-operator
        # Rules will be added here by the generate-operator-bundle.py script.
      deployments:
      - name: pagerduty-operator
        # Deployment spec will be added here by the generate-operator-bundle.py script.